<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="Pythonhandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Py\venv\Scripts\python.exe|C:\Py\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified"
            requireAccess="Script"/>
        </handlers>
    </system.webServer>
	 <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\Py" />
  </appSettings>
</configuration>
